*.class
*.log

# SBT SPECIFIC
.cache
.history
.lib/

.scala_dependencies

.worksheet
.worksheet/*
.worksheets/
.worksheets/*

.idea
.idea/
.idea/*

*.iml
.iml


## VI
.swp
*.swp
.swo
*.swo

dist/*

lib_managed/

project/boot/
project/boot/*

project/project
project/project/*

project/plugins/project/
project/plugins/project/*

project/target/
project/target/*

logs
logs/*

notes
notes/*

src_managed/

target/

worksheets
worksheets/*